# Ambiente virtual
.venv/

# IDE
.idea/

# Cache do Python
__pycache__/
**/__pycache__/
*.pyc

# Cache do Ruff
.ruff_cache/
**/.ruff_cache/

# Arquivos de ambiente (exceto sample.env)
*.env
!sample.env

# Markdown (exceto README e dockerhub.md)
*.md
!README.md
!dockerhub.md

# HTML
*.html

# Diretório misc
misc/

# Outros
templates/
**.xml
*.txt
docker-compose.yml
.pytest_cache/
.coverage
