CLOUD_NAME=Change_this
API_KEY=Change_this
API_SECRET=Change_this

LIMITE_IMAGENS=5
LIMITE_TEMPO=10
HOSTS=

# Personalização (Cloudinary)
USE_FILENAME=True
UNIQUE_FILENAME=False
OVERWRITE=True
MEDIA_METADATA=True
